* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    color: white;
    text-shadow: 0px 1px 4px black;
    letter-spacing: 2px;
    font-family: sans-serif;
}

body {
    width: 100vw;
display: flex;
flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: grey;
    position: relative;
}

.warning {
    background-color: red;
    animation: animation alternate .2s linear infinite;
}

@keyframes animation {
    0% {
        background: grey;
    }

    25% {
        background-color: rgb(255, 0, 0) !important;
    }

    50% {
        background: grey;
    }

    100% {
        background-color: rgb(255, 0, 0) !important;
    }
}
nav{
   width: 100vw;
   position: absolute;
   top: 0;
   border: solid black;
   display: flex;
}
nav::before{
    content: 'simon game';
    text-align: center;
    font-size: 1.5rem;
}
nav div{
    width: 500px;
    height: 55px;
background-color: var(--clr);
}
.headings {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100vw;
    font-size: 1.9em;
    text-align: center;
}

.container {
    position: relative;
    width: 310px;
    height:310px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: rgba(240, 255, 240, 0.664);
    border-radius: .7rem;
    backdrop-filter: blur(5px);
    box-shadow: 0px 1px 10px black;
    border: solid rgb(235, 235, 235);
        border: rgb(0, 0, 0) solid;
}

.container div {
    cursor: pointer;
    box-shadow: 0px 1px 10px black;
    border-radius: .7rem;
    width: 140px;
    background-color: var(--clr);
    height: 140px;
    border: rgb(0, 0, 0) solid;
    transition: transform 0.3s linear  ;
    /* smooth effect */
}

/* On hover, move up slightly */
.container div:hover {
    transform: translateY(-1.3px);
    /* moves it up 20px */
}

.flash {
    background-color: white !important;
       
    box-shadow: 0 0 20px white;
}

.user {
background-color: rgb(123, 255, 22) !important;
    box-shadow: 0 0 20px white;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #4CB8B6;
    overflow: hidden;
}

.ball {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    animation: move linear infinite;
}

.ball:nth-child(odd) {
    color: #006D5B;
}

.ball:nth-child(even) {
    color: #FF6F61;
}

/* Using a custom attribute for variability */
.ball:nth-child(1) {
    top: 77%;
    left: 88%;
    animation-duration: 40s;
    animation-delay: -3s;
    transform-origin: 16vw -2vh;
    box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
}

.ball:nth-child(2) {
    top: 42%;
    left: 2%;
    animation-duration: 53s;
    animation-delay: -29s;
    transform-origin: -19vw 21vh;
    box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
}

.ball:nth-child(3) {
    top: 28%;
    left: 18%;
    animation-duration: 49s;
    animation-delay: -8s;
    transform-origin: -22vw 3vh;
    box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
}

.ball:nth-child(4) {
    top: 50%;
    left: 79%;
    animation-duration: 26s;
    animation-delay: -21s;
    transform-origin: -17vw -6vh;
    box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}

.ball:nth-child(5) {
    top: 46%;
    left: 15%;
    animation-duration: 36s;
    animation-delay: -40s;
    transform-origin: 4vw 0vh;
    box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}

.ball:nth-child(6) {
    top: 77%;
    left: 16%;
    animation-duration: 31s;
    animation-delay: -10s;
    transform-origin: 18vw 4vh;
    box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}

.ball:nth-child(7) {
    top: 22%;
    left: 17%;
    animation-duration: 55s;
    animation-delay: -6s;
    transform-origin: 1vw -23vh;
    box-shadow: -40vmin 0 5.703026794398318vmin currentColor;
}

.ball:nth-child(8) {
    top: 41%;
    left: 47%;
    animation-duration: 43s;
    animation-delay: -28s;
    transform-origin: 25vw -3vh;
    box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
}
